<div class="box">
	<div class="your-order">
		<p class="title is-3">Your order</p>
		<ul>
			<li *ngFor="let item of itemList">
				<div class="content">
					<p>
						<strong>Crust </strong><small>{{ item.crust }}</small><br>
						<strong>Size </strong><small>{{ item.size }}</small>
					</p>
					<div class="tags">
						<span
							*ngFor="let id of item.ingredients"
							class="tag is-warning is-medium">{{ usedIngredient(id).title }}</span>
					</div>
					<hr>
				</div>
			</li>
		</ul>
	</div>
	<app-address-form></app-address-form>
</div>
