<div class="box">
	<article class="media">
		<div class="media-content">
			<div class="content">
					<p class="title is-3">{{ title }}</p>
					<p class="subtitle is-5">ingredients</p>
					<div class="tags">
						<span *ngFor="let ingredient of usedIngredients" class="tag is-warning is-medium">
							{{ ingredient.title }}
							<button (click)="removeIngredient(ingredient.id)" class="delete is-small"></button>
						</span>
					</div>
			</div>
		</div>
	</article>

	<hr>

	<div class="content">
		<div class="field">
			<label class="label">crust</label>
			<div class="control">
				<div class="select">
					<select (change)="selectCrust($event.target.value)">
						<option>regular</option>
						<option>garlic</option>
						<option>cheesy</option>
					</select>
				</div>
			</div>
		</div>

		<div class="field">
			<label class="label">size</label>
			<div class="control">
				<div class="select">
					<select (change)="selectSize($event.target.value)">
						<option>14cm</option>
						<option>25cm</option>
						<option>35cm</option>
					</select>
				</div>
			</div>
		</div>

		<div class="field">
			<label class="label">add ingredients</label>
			<div class="control">
				<div class="select">
					<select (change)="addIngredient($event.target.value)">
						<option *ngFor="let ingredient of unUsedIngredients">{{ingredient.title}}</option>
					</select>
				</div>
			</div>
		</div>

		<hr>

		<div class="field is-grouped">
			<div class="control">
				<button class="button is-link" routerLink="/order" (click)="addItem()">Add to order</button>
			</div>
			<div class="control">
				<button class="button is-text" routerLink="/">Cancel</button>
			</div>
		</div>
	</div>
</div>
