<div class="box">
	<p class="title is-3">Pizzeria Pronto</p>
	<p class="subtitle is-5">menu</p>
	<ul>
		<li *ngFor="let pizza of menuList">
			<a (click)="selectPizza(pizza)" routerLink="/details">{{pizza.title}}</a>
		</li>
	</ul>
</div>
