<p class="title is-3">Your address</p>
<form (ngSubmit)="onSubmit(orderForm)" #orderForm="ngForm">
	<div ngModelGroup="userData" #userData="ngModelGroup">
		<div class="field">
			<label class="label" for="name">Name</label>
			<div class="control">
				<input ngModel class="input" type="text" placeholder="Vito Corleone" name="name" required>
			</div>
		</div>
		<div class="field">
			<label class="label">Street</label>
			<div class="control">
				<input ngModel class="input" type="text" placeholder="Madison Square" name="street" required>
			</div>
		</div>
		<div class="field">
			<label class="label">House Number</label>
			<div class="control">
				<input ngModel class="input" type="number" placeholder="13" name="houseNumber" required>
			</div>
		</div>
		<div class="field">
			<label class="label">House Number Extention</label>
			<div class="control">
				<input ngModel class="input" type="text" placeholder="A" name="houseNumberExt">
			</div>
		</div>
		<div class="field">
			<label class="label">Zipcode</label>
			<div class="control">
				<input ngModel class="input" type="text" placeholder="1234 AB" name="zipcode" required>
			</div>
		</div>
		<div class="field">
			<label class="label">City</label>
			<div class="control">
				<input ngModel class="input" type="text" placeholder="New York" name="city" required>
			</div>
		</div>
		<div class="field">
			<label class="label">Phone Number</label>
			<div class="control">
				<input ngModel class="input" type="tel" placeholder="01 234 56 789" name="phoneNumber" required>
			</div>
		</div>
		<hr>
		<div class="field is-grouped is-grouped-right">
			<div class="control">
				<button type="button" class="button is-info" routerLink="/">Add more</button>
			</div>
			<div class="control">
				<button type="submit" class="button is-success">Place Order</button>
			</div>
		</div>
	</div>
</form>

<div
	class="modal"
	[ngClass]="{'is-active': statusModal}">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="notification is-success">
			<p class="title is-3">{{ orderStatus }}</p>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" (click)="closeStatusModal()"></button>
</div>
